
<link rel="stylesheet" href="{{ asset('css/register.css') }}">
<link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% block body %}
<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   
    <link rel="stylesheet" href="style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   
            
       <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
       <div class="nav">
 <center><img src="img/dark-logo.png" class="brand-logo" alt="" style="width: 180px; height: 100px;left:-410px;top:-10px"> <center>

</div>
        <div class="text">
          <span class="text-1"style="color: black;">Every new friend is a <br> new adventure</span>
          <span class="text-2"style="color: black;">Let's get create your account</span>
          
        </div>
      </div>
      <div class="back">
        <!--<img class="backImg" src="images/backImg.jpg" alt="">-->
        <div class="text">
          <span class="text-1"style="color: black;">Complete miles of journey <br> with one step</span>
          <span class="text-2"style="color: black;">Let's get started</span>
          
        </div>
      </div>
    </div>
    
<div class="signup-form" >
  

  {{ form_start(registrationForm) }}
  <div class="input-box">
    <i class="fas fa-user"></i>
    {{ form_label(registrationForm.name) }}
    {{ form_widget(registrationForm.name, {'attr': {'class': 'form-content','placeholder': 'Enter your name'}}) }}
  </div>
  <div class="input-box">
    <i class="fas fa-envelope"></i>
    {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'sr-only'}}) }}
    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Enter your email', 'required': 'required'}}) }}
  </div>
  <div class="input-box">
    <i class="fas fa-lock"></i>
    {{ form_label(registrationForm.plainPassword, 'Password', {'label_attr': {'class': 'sr-only'}}) }}
    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Enter your password', 'required': 'required'}}) }}
  </div>
   <div class="form-check mb-3">
   
    {{ form_label(registrationForm.roles, 'roles', {'label_attr': {'class': 'form-check-label', 'for': 'agreeTerms'}}) }}
    {{ form_widget(registrationForm.roles, {'attr': {'class': 'form-check-input', 'id': 'agreeTerms', 'required': 'required'}}) }}
  </div>
  <div class="form-check mb-3">
    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input', 'id': 'agreeTerms', 'required': 'required'}}) }}
    {{ form_label(registrationForm.agreeTerms, 'I agree to the terms and conditions', {'label_attr': {'class': 'form-check-label', 'for': 'agreeTerms'}}) }}
  </div>
  <button type="submit" class="btn btn-primary btn-block">Register</button>
  {{ form_end(registrationForm) }}
  </div>
   <div class="text sign-up-text" style=" margin-top:35px">Already have an account?   <li class="link-item"><a href="login" class="link">Login now</a></li>
</div>



{% endblock %}
